/* CSS files add styling rules to your content */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color:#6F6B61;
  position: relative;
}

.container{
  display:flex;
}
.row{
  display:flex;
}
.col1{width:10%;}.col2{width:20%;}.col3{width:30%;}.col4{width:40%;}.col5{width:50%;}.col6{width:60%;}.col7{width:70%;}.col8{width:80%;}.col9{width:90%;}.col10{width:100%;}
.aside{
  background-color:#FFCA28;
  text-align:center;
}
.im-photo{
  border-radius:50%;
  margin:40px 0 20px 0;
  border: 3px solid #B88C1F;
    
}
.photo{
  
}
.t-left{
  background-color:#37474F;
  color:#FFCA28;
  padding:15px 0 15px 0;
}
#a-propos p, #contact p{
  text-align:justify;
  margin:20px;
}
#loisirs p i{
  font-size:28px;
  width:30px;
  height:30px;
  border-radius:50%;
  padding: 20px;
  border: 1px solid black;
  margin-right: 5%;
  color:black;
}
header{
  margin-top:100px;
  margin-bottom:100px;
}
.surname{
  color:#FFCA28;
}
h1{
  font-size:3em;
  text-transform: uppercase;
}
.sur-title {
    border-top: 2px #FFCA28 solid;
    width: 100px;
    margin-top: -10px;
}
header, .content section{
  margin-left:70px;
  margin-right:70px;
}
.content section{
  margin-bottom:40px;
}
header p{
  font-weight:bold;
  margin-top:-25px;
}
.surline{
  border-bottom:3px solid #FFCA28; 
  width:100%;
  margin-top:-10px;
  margin-bottom:20px;
}
.content i{
  margin-right:10px;
  color:#FFCA28;
}
.hide-des{
  display:none;
}
.content h2{
  color:black !important;
}
.content section p span{
  margin-left:25px;
}
#loisirs 
{
  position: absolute; 
  bottom: 0;
  width: 30%;
}
.fa-circle {
  font-size: 0.6em;
}
@media screen and (max-width: 1200px) {
  .md1{width:10%;}.md2{width:20%;}.md3{width:30%;}.md4{width:40%;}.md5{width:50%;}.md6{width:60%;}.md7{width:70%;}.md8{width:80%;}.md9{width:90%;}.md10{width:100%;}
  .row{
    display: inherit;
  }
    header, .content section{
    margin-left:20px;
    margin-right:20px;
  }
  #loisirs {
    position: absolute;
    bottom: 0;
    width: 50% !important;
}
}
@media screen and (max-width: 720px) {
  .xs1{width:10%;}.xs2{width:20%;}.xs3{width:30%;}.xs4{width:40%;}.xs5{width:50%;}.xs6{width:60%;}.xs7{width:70%;}.xs8{width:80%;}.xs9{width:90%;}.xs10{width:100%;}
  .container, .row{
    display: inherit;
  }
  .aside{
    margin-top:-20px;
  }
  .hide-des{
    display:block;
  }
  .surname{
  color:black;
  }
  p{
    text-align:center !important;
  }
  header {
    display:none;
  }
  .content section{
    margin-left:10px;
    margin-right:10px;
    text-align:center;
  }
  .surline{
    margin:auto;
  }
  #loisirs {
  position: inherit; 
  width: 100% !important;
  padding-bottom:20px
  }
