body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:#615E5E;
}
.contener120
{
    display: flex;
}
.grid30
{
    width: 30%;
    background-color: #FFCA28;
    height: auto;
}
.photo img
{
    border-radius: 50%;
}
.photo
{
    text-align: center;
    margin: 40px 0px 40px 0px;
    
}
#contact h2, #a-propos h2, #loisirs h2
{
    background-color: #37474F;
    width:  100%;
    color: #FFCA28;
    padding: 10px 0 10px 0;
    text-align: center;
}
#a-propos p
{
    margin: 10px 10% 110% 10%;text-align: justify;

}
#loisirs i
{
    margin: 0px 0% 0% 10%;font-size: 3em;border: 2px #37474F solid ;border-radius: 50%;color: #37474F;
}

div.liste ul 
{
    list-style:none;
    margin: 1px 0px 5px 1px;

}
.grid70
{
    width: 70%;
    padding-left:10%; 
}
.bloc
{
    display: flex;
}
.periode,.periode1,.periode2,.periode3,.periode4
{

    width: 240px;
    height: 200px;

}
.fonction,.fonction1,.fonction2,.fonction3,.fonction4
{
    width: 300px;
    height: 200px;
}
.fonction1,.periode1,.fonction3,.fonction4,.periode3,.periode4
{
    margin-top: -4%;
}
.fonction3,.fonction4
{
    margin-top: -5.5%;
}
.fonction h3,.fonction1 h3,.fonction2 h3,.fonction3 h3,.fonction4 h3
{

    margin-bottom: -3%;
}
.fonction p,.fonction1 p,.fonction2 p,.fonction3 p,.fonction4 p
{
    margin-bottom: -3%;
}
.formation,.experience,.recommandation
{
    width: all;
    font-size: 1.3em;
    color: black;
}
.formation
{
    margin-top: 11%;
}
.experience
{
 margin-top: -6%; 
}
.recommandation
{
    margin-top: -13%;     
}
.sur-title
{
    border-top:2px #FFCA28 solid;
    width: 100px;
    margin-top: -16px;
}
.sur-formation,.sur-experience,.sur-recommandation
{
    border-top:2px #FFCA28 solid;
    width: 70%;
    margin-top: -10px; 
    padding-left: 10%; 
    margin-bottom: 2%; 
}
i
{
    color: #FFCA28;
    padding-right: 3%;
}

.periode span,.periode1 span,.periode2 span ,.periode3 span,.periode4 span
{
    padding-left: 7.9%;
}
h1
{
    font-size: 3.5em;
    margin-top: 10.5%;
    margin-bottom: -2%;color: black;
}
.surname
{
 color: #FFCA28;
}
.header p
{
    font-size: 1.5em;
}
.little
{
    margin-left: 20%;
}
.mark,.little
{
    margin-top: 2.5%;
}

@media screen and  (max-width: 760px) 
{ 
  .conteneur120{
    width: auto;
  }
  
    
}