body{
    margin: 0;
}
.contener120
{
    display: flex;
}
.grid30
{
    width: 30%;
    background-color: #FFCA28;
}
.grid70
{
    width: 70%;
}

.photo img
{
    border-radius: 50%;
}
.photo
{
    text-align: center;
    margin: 20px 0 20px 0;
}
#contact h2, #a-propos h2, #loisirs h2
{
    background-color: #37474F;
    width:  100%;
    color: #FFCA28;
    padding: 10px 0 10px 0;
    text-align: center;
}
#a-propos p
{
    padding: 0px 10% 90% 10%;text-align: justify;
}
#loisirs i
{
    margin: 0px 0% 0% 15%;font-size: 3em;border: 2px black solid ;border-radius: 50%;
}

div.liste ul 
{
    list-style:none;
}

.header
{
    margin-left: 20%;font-size: 1.5em;
}
.header span
{
    color: #FFCA28;
}
.sur-title
{
    border-top:2px #FFCA28 solid;
    width: 100px;
    margin-top: -20px;
}

.formation,.experiences,.recommandation
{
 margin-left: 20%;font-size: 1.3em; padding-top: 5%;
}
.sur-formation,.sur-experiences,.sur-recommandation
{
border-top:2px #FFCA28 solid;
    width: 80%;
    margin-top: -10px;    
}
.centrage-formation,.centrage-experiences,.centrage-recommandation
{
margin-left: 4.5%; margin-top: 15%;
}

.periodes-formations i,.periodes-formations2 i,.periodes-experiences i,.periodes-experiences2 i,
.periodes-experiences3 i,.experiences i,.formation i,.recommandation i
{
color: #FFCA28;width: 30px;margin-top: 20px;  
}
.centrage-paris,.centrage-narbonne,.centrage-narbo,.humax 
{
margin-left: 4.5%;
}
.employeurs1,.employeurs2,.employeurs3,.employeurs4,.employeurs5
{
margin-left: 50%;margin-top: -30px;margin-bottom: 0.5%; font-size: 1.1em; 
}
.centrage-etudiant,.centrage-bacpro,.indep,.kiloutou,.humax
{
 margin-left: 50%; 
}
.centrage-etudiant p,.centrage-bacpro p,.indep p,.kiloutou p,.employeurs5 p,.humax p,.employeurs1 p
{
    margin-left: 50%;margin-bottom: 1%;margin-top: 0.2%;
}
.periodes-formations,.periodes-formations2,.periodes-experiences,.periodes-experiences2,.periodes-experiences3
{
 margin-left:20%; font-size:0.9em; margin-top: 2px;   
} 
.mark
{
margin-top: 5%;
}
.little
{
margin: -13% 0 0 46%;
}

